<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<link href="../../static/css/001.css" rel='stylesheet' type='text/css'>
<script href="../../static/js/001.js" type="text/javascript"></script>

<div class="box">
  <div>
    Hello bruh <br/>
    {{.Data.Email}}
  </div>
  <form method="post" action="/logout">
    <button type="submit" class="btn btn-primary">Log Out</button>
  </form>
  
</div>

  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>